@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@media screen and (max-width: 800px) {
  body,
  header,
  main {
    width: 100%;
  }
}
body {
  font-family: "source sans pro", sans-serif;
  color: black;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/*Positioning*/
body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 1.25em 12.5em;
}

.logo {
  width: 10em;
  height: fit-content;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15em 0;
}

.hero {
  padding: 0 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-img img {
  width: 100%;
}

button {
  padding: 0 1em;
  margin: 5em 0;
}

/*Styling*/
button {
  color: white;
  font-weight: bold;
  background-color: #ff5656;
  border-style: none;
  border-radius: 3em;
  box-shadow: black 0 0 2em;
  cursor: pointer;
}

button:hover {
  opacity: 90%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: #ff5656;
}

.hero {
  color: white;
  text-align: center;
}

.hero h1 {
  margin: 0;
}

.hero h3 {
  margin: 0;
}
